@import url(https://fonts.googleapis.com/css?family=Raleway);


<style media="screen">
	nav { display: block; width: 640px; height: 90px; line-height: 40px; margin-top: 80px;}
	a { display: inline-block; margin-right: 0px;  color: white; text-decoration: none; font-family: Avenir; background-color: blue; padding: 0px 54px; margin-bottom: 10px}


body {
	font-family: 'Raleway', sans-serif;
}


ul {
	list-style-type: none;
	padding: 0;
}

#search {
	margin-bottom: 10px;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	border: 1px solid #33AA44;
	padding: 5px;
}



article  {
	background-color: #EEE;

	width: 400px;
	height: 500px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: left;

}

img {
	padding: 1px;
	margin-left: 10px;
}



article.match
{
	background: #DFD;
}

article h2 {
	margin-top: 0;
}

h1, article h3 {
	color: #33AA44;
}
